body {
    font-family: 'Roboto', sans-serif;
}

.star-rating {
    direction: rtl;
    display: inline-block;
    padding: 0;
    margin: 0;
}

.star-rating input[type="radio"] {
    display: none;
}

.star-rating label {
    color: #ccc;
    cursor: pointer;
    font-size: 2rem;
    padding: 0 .1em;
}

.star-rating label:hover,
.star-rating label:hover ~ label,
.star-rating input[type="radio"]:checked ~ label {
    color: #ffc107;
}
